{% extends "baseAdmin.html.twig" %}

{% block body %}
<div class="card-content silver">
    <div class="-header">
        <div class="-left-content">
            <h5>Products</h5>
            
            <a class="btn" href="{{ path("app_admin_new_product") }}">
                <button class="btn btn-outline-green">
                    <img src="{{ asset("/content/svg/plus.svg") }}" alt="" />
                </button>
            </a>
        </div>

        <div class="-right-content">
            <form class="search-form">
                <input 
                    class="form-field"
                    type="text" 
                    maxLength="255"
                    placeholder="Search a product"
                />
                <button type="submit" class="form-button">
                    <img src="{{ asset("/content/svg/magnifying-glass.svg") }}" alt="" />
                </button>
            </form>
        </div>
    </div>
    
    <div class="-body">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Caracteristics</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td class="_ID">{{ product.id }}</td>
                        <td class="_customer_name">{{ product.getEntity().name }}</td>
                        <td class="_product_name">{{ product.name }}</td>
                        <td class="_description">{{ product.description }}</td>
                        <td class="_caracteristics">
                            {% for caracteristic in product.caracteristics %}
                                <li>
                                    <span>{{ caracteristic.title }}</span>
                                    <span>{{ caracteristic.description }}</span>
                                </li>
                            {% endfor %}
                        </td>
                        <td class="_action">
                            <a href="{{ path("app_admin_single_product", {'productID': product.id}) }}">
                                <img src="{{ asset("/content/svg/eye.svg") }}" alt="" />
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">There is no product found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Pagination #}
        {% if nbrOffset > 1 and offset <= nbrOffset %}
            <div class="pagination">
                <div class="pagination-wrapper">

                    {% if offset > 1 %}
                        <div class="link">
                            <a href="{{ path("app_admin_product") }}">
                                <img src="{{ asset("/content/svg/angles-left.svg") }}" alt="" />
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if offset - 1 >= 1 %}
                        <div class="link">
                            <a href="{{ path("app_admin_product", {"offset": offset - 1}) }}">
                                <span>{{ offset - 1 }}</span>
                            </a>
                        </div>
                    {% endif %}
                    
                    <div class="link current">
                        <span>{{ offset }}</span>
                    </div>
                    
                    {% if offset + 1 <= nbrOffset %}
                        <div class="link">
                            <a href="{{ path("app_admin_product", {"offset": offset + 1}) }}">
                                <span>{{ offset + 1 }}</span>
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if offset < nbrOffset %}
                        <div class="link">
                            <a href="{{ path("app_admin_product", {"offset": nbrOffset}) }}">
                                <img src="{{ asset("/content/svg/angles-right.svg") }}" alt="" />
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}