{% extends "baseAdmin.html.twig" %}

{% block body %}
<a href="{{ path("app_admin_product") }}">
    <button class="btn btn-outline-blue btn-return">
        <img src="{{ asset("/content/svg/arrow-left-long.svg") }}" alt="" />
        <span>Return</span>
    </button>
</a>

<div class="card-content silver">
    {# <div class="-header"></div> #}
    <div class="-body">
        <table>
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Stock</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for lowStorage in lowStorages %}
                    <tr>
                        <td>{{ lowStorage.name }}</td>
                        <td>{{ lowStorage.stock }}</td>
                        <td>{{ lowStorage.price }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">There is no product</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Pagination #}
        {% if nbrOffset > 1 and offset <= nbrOffset %}
            <div class="pagination">
                <div class="pagination-wrapper">

                    {% if offset > 1 %}
                        <div class="link">
                            <a href="{{ path("app_admin_product") }}">
                                <img src="{{ asset("/content/svg/angles-left.svg") }}" alt="" />
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if offset - 1 >= 1 %}
                        <div class="link">
                            <a href="{{ path("app_admin_product", {"offset": offset - 1}) }}">
                                <span>{{ offset - 1 }}</span>
                            </a>
                        </div>
                    {% endif %}
                    
                    <div class="link current">
                        <span>{{ offset }}</span>
                    </div>
                    
                    {% if offset + 1 <= nbrOffset %}
                        <div class="link">
                            <a href="{{ path("app_admin_product", {"offset": offset + 1}) }}">
                                <span>{{ offset + 1 }}</span>
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if offset < nbrOffset %}
                        <div class="link">
                            <a href="{{ path("app_admin_product", {"offset": nbrOffset}) }}">
                                <img src="{{ asset("/content/svg/angles-right.svg") }}" alt="" />
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}